<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1 class="main-title">TEXT TO VOICE</h1>

    <div class="container home-card">

        <div class="hi-section">
           
            <h2 class="hi-text">Hi!</h2>
            <b><p class="sub-text">Welcome to your Smart Text to Voice Assistant</p></b>
              <div class="big-smile">😊</div>
        </div>

        <a href="/select">
            <button class="main-btn enter-btn">Enter</button>
        </a>

    </div>

</body>
</html>